@media (max-width: 1200px)
    .container
        max-width: 900px
    .promo
        &__logo
            width: 65px
            height: 69px
        &__link
            margin-right: 15px
            font-size: 13px
            &:after
                margin-left: 7px
                height: 18px
        &__phone
            font-size: 14px
    .advantages
        &__wrapper
            grid-column-gap: 40px
            grid-row-gap: 30px
        &__icon
            grid-template-columns: 50px 340px
    .logistics
        &__item
            max-width: 280px
            margin-right: 20px
        &__img
            height: 180px
        &__title
            margin-top: 14px
    .cards 
        &__wrapper
            grid-template-columns: repeat(3, 250px)

@media (max-width: 991px)
    .container
        max-width: 700px
            

    