@media (max-width: 1200px)
    .container
        max-width: 900px
    .promo
        &__logo
            width: 65px
            height: 69px
        &__link
            margin-right: 15px
            font-size: 13px
            &:after
                margin-left: 7px
                height: 18px
        &__phone
            font-size: 17px
    .logistics
        &__item
            margin-right: 20px
        &__img
            height: 180px
    .cards 
        &__wrapper
            grid-template-columns: repeat(3, 1fr)
    .footer
        &__logo
            margin-right: 15px

@media (max-width: 991px)
    .container
        max-width: 700px
        
            

    