.container
    max-width: 1100px
    margin: 0 auto

* 
    font-family: 'Roboto', sans-serif




@import 'base/variables'
@import 'base/_animation'

@import 'blocks/_button'
@import 'blocks/_promo'
@import 'blocks/_advantages'
@import 'blocks/_title'
@import 'blocks/_logistics'
@import 'blocks/_agent'
@import 'blocks/_cards'
@import 'blocks/_managers'
@import 'blocks/_scheme'
@import 'blocks/_reviews'
@import 'blocks/_forms'
@import 'blocks/_questions'
@import 'blocks/_footer'
