.forms
    position: relative
    &__bord
        position: absolute
        padding: 0 10px 0 10px
        background-color: #fff
        left: 50%
        transform: translateX(-50%)
        &_icon
            height: 110px
            top: -60px
        &_wrap
            background: none
            top: 143px
    &_cards
        border: solid 1px #898989
        height: 166px
        margin-top: 70px
    &_questions
        min-height: 220px
        background-color: rgba(255, 255, 255, .7)
    &__inputs
        display: grid
        grid-template-columns: repeat(3, 268px)
        grid-template-rows: 45px
        grid-auto-rows: 70px
        grid-column-gap: 6px
        grid-row-gap: 8px
        justify-content: center
        &_cards
            margin-top: 68px
        &_questions
            padding-top: 18px
        input
            padding: 0 14px
            border-radius: 25px
            border: solid 0.5px rgba(0, 0, 0, 0.21)
            outline: none
    #forms__textarea
        grid-column: 1/4
        border-radius: 0
